{% extends "base.html" %}
{% load static %}

{% block title %}Add Exercise{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-xs-12">

      <h2 class="text-center page-header">{{ exercise }} <a href="#" class="btn btn-primary add-item pull-right"><i class="fa fa-plus"></i> Add Set</a></h2>
      {% load crispy_forms_tags %}
      <div id="set-forms-container">
        {% crispy formset helper %}
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block footer %}
  <script type="text/html" id="form-template">
    {% crispy formset.empty_form helper %}
  </script>
  <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        var target = document.querySelector('.add-item');

        var scrollToElement = function(element, to, duration) {
            if (duration <= 0) return;
            var difference = to - element.scrollTop;
            var perTick = difference / duration * 10;

            setTimeout(function() {
                element.scrollTop = element.scrollTop + perTick;
                if (element.scrollTop === to) return;
                scrollTo(element, to, duration - 10);
            }, 10);
        }

        var callback = function(e) {
          e.preventDefault();
          var count = parseInt(document.querySelector('#id_sets-TOTAL_FORMS').value);
          var template = document.querySelector('#form-template').innerHTML;
          var compiledTemplate = template.replace(/__prefix__/g, count);
          compiledTemplate = compiledTemplate.substring(compiledTemplate.indexOf('card-1')-18, compiledTemplate.lastIndexOf("hidden")+15);
          document.querySelector('div#set-forms-container form div.form-actions').insertAdjacentHTML('beforebegin', compiledTemplate);
          document.querySelector('#id_sets-TOTAL_FORMS').value = (count + 1).toString();
          var el = document.querySelector('#div_id_sets-' + count.toString() + '-number');
          scrollToElement(document.body, el.offsetTop + 200, 600);
        }
        if (target.addEventListener) {
          target.addEventListener("click", callback, false);
        } else if (target.attachEvent) {
          target.attachEvent('onclick', callback);
        }
      });
  </script>
{% endblock %}
