{% extends "base.html" %}
{% load static %}

{% block title %}Edit Workout{% endblock %}

{% block headerjs %}
  <link rel="stylesheet" href="{% static 'css/rome.min.css' %}">
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'workout:dashboard' %}">Dashboard</a></li>
  <li><a href="{% url 'workout:workout_detail' workout.date|date:'Y' workout.date|date:'m' workout.pk %}">Workout Detail</a></li>
  <li class="active">Workout Edit</li>
</ol>

<h1 class="text-center page-header">Edit Workout on  {{ workout.date|date:"DATETIME_FORMAT" }}</h1>

<div class="box">
  {% load crispy_forms_tags %}

  {% crispy form %}
</div>

{% endblock %}
