{% extends "base.html" %}
{% load static %}

{% block title %} {{ object }} {% endblock %}

{% block content %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'workout:dashboard' %}">Dashboard</a></li>
    <li class="active">Workout Detail</li>
  </ol>

  <div class="row">
    <div class="col-xs-12">
      {% if workout.duration %}
        <a href="{% url 'workout:workout_update' workout.date|date:'Y' workout.date|date:'m' workout.pk %}" class="btn btn-warning btn-block">Edit Workout</a>
      {% else %}
        <a href="#" class="btn btn-danger btn-block finish-workout">Finish Workout</a>
      {% endif %}
      {% if workout.title %}
      <h2 class="text-center">{{ workout.title }}</h2>
      {% else %}
      <h2 class="text-center">{{ workout.author.get_name }}'s Workout</h2>
      {% endif %}
      <h3 class="text-center">{{ workout.date }}</h3>
      <p class="hidden workout-start">{{ workout.date|date:"c" }}</p>
      <div class="row text-center">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h4 class="">Location</h4>
          <p>{{ workout.location|default:"Unknown" }}</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h4 class="">Mood</h4>
          <p>{{ workout.mood|default:"N/A" }}</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h4 class="">Weight</h4>
          <p>{{ workout.weight }}</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h4 class="">Duration</h4>
          {% load duration %}
          {% if workout.finished %}
            <p>{{ workout.duration|duration }}</p>
          {% else %}
            <p id="workout-timer">{{ workout.date|timesince }}</p>
          {% endif %}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h4 class="">Notes</h4>
          <p>{{ workout.notes|default:"None" }}</p>
        </div>
      </div>

      {% for exercise in exercises %}
        <div class="panel panel-default" style="margin-top: 2em">
          <div class="panel-heading clearfix">
            <a href="{% url 'workout:exercise_update' workout.date|date:'Y' workout.date|date:'m' workout.pk exercise.pk %}" class="btn btn-warning pull-right"><i class="fa fa-pencil"></i> Edit</a>
            <div class="panel-title">{{ exercise }}</div>
          </div>
          <div class="panel-body">
            {{ exercise.notes|default:"No exercise notes." }}
          </div>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>Set #</th>
                  <th>Weight</th>
                  <th>Reps</th>
                  <th>Type</th>
                  <th>Notes</th>
                </tr>
                {% for set in exercise.sets.all %}
                  <tr>
                    <td>{{ set.number }}</td>
                    <td>{{ set.weight|floatformat:"-2" }} {{ set.get_weight_measurement_display }}</td>
                    <td>{{ set.repetitions }}</td>
                    <td>{{ set.get_set_type_display }}</td>
                    <td>{{ set.notes }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
      {% endfor %}

      <div class="box">
        <h4 class="page-header text-center" style="margin-top: 1em">New Exercise</h4>
        {% load crispy_forms_tags %}
        {% crispy form %}
      </div>

    </div>
  </div>

</div>
{% endblock content %}

{% block footerjs %}
  <script src="{% static 'js/sweetalert.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/js.cookie.js' %}"></script>
  {% load duration %}
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      var target = document.querySelector('.finish-workout');

      var callback = function(e) {
        e.preventDefault();

        var delta = Math.abs(Date.parse(document.querySelector('.workout-start').innerHTML) - Date.now()) / 1000;

        var hours = Math.floor(delta / 3600);
        delta -= hours * 3600;
        var minutes = Math.floor(delta / 60) % 60;
        delta -= minutes * 60;
        var seconds = delta % 60
        var durationString = hours.toString() + ":" + minutes.toString() + ":" + seconds.toString().substring(0, seconds.toString().lastIndexOf('.'));
        axios.patch('{% url "api:workout_detail" workout.date|date:"Y" workout.date|date:"m" workout.pk %}', {
          duration: durationString,
          finished: true
        }, {
          headers: {'X-CSRFToken': Cookies.get('csrftoken')}
        })
        .then(function (response) {
          // remove finish button, change to edit button, update duration field
          target.classList.remove('finish-workout');
          target.classList.remove('btn-danger');
          target.classList.add('btn-warning');
          target.href = "{% url 'workout:workout_update' workout.date|date:'Y' workout.date|date:'m' workout.pk %}";
          target.text = "Edit Workout";
          var time = response.data.duration;
          swal("Great job!", "You worked out for " + time, "success");
          target.removeEventListener("click", callback);
        })
        .catch(function (error) {
          swal("Oops...", "Something went wrong!", "error");
          console.log(error);
        });
      };

      if (target && target.addEventListener) {
        target.addEventListener("click", callback, false);
      } else if (target && target.attachEvent) {
        target.attachEvent('onclick', callback);
      }
    });
  </script>
{% endblock %}
