{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}


{% block headerjs %}
  <link rel="stylesheet" href="{% static 'css/rome.min.css' %}">
{% endblock %}

{% block content %}
<div class="container">

  <div class="row box">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      {% load avatar_tags %}
      {% avatar user 100 %}
    </div>

    {% if object == request.user %}
      <div class="col-xs-12" style="margin-top: 30px">
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
        <a class="btn btn-primary" href="{% url 'avatar_change' %}">Change your avatar</a>
      </div>
    {% endif %}
  </div>

</div>
{% endblock content %}

{% block footer %}
  <script src="{% static 'js/project.min.js' %}"></script>
{% endblock %}
