{% extends "base.html" %}
{% load static %}

{% block title %}{{ request.user }}'s Dashboard{% endblock %}


{% block headerjs %}
  <link rel="stylesheet" href="{% static 'css/rome.min.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% load crispy_forms_tags %}

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ request.user.username }}</h2>
      {% if request.user.name %}
        <p>{{ request.user.name }}</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="box">
        {% crispy form %}
      </div>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

{% block footer %}
  <script src="{% static 'js/project.min.js' %}"></script>
{% endblock %}
