.pad-top {
  padding-top: 2em; }

.bg-primary {
  background-color: #FF9800; }

.bg-primary-dark {
  background-color: #F57C00; }

.bg-primary-light {
  background-color: #FFE0B2; }

.bg-accent {
  background-color: #448AFF; }

.divider {
  background-color: #BDBDBD; }

.border:first-child {
  border-top: 1px solid #BDBDBD; }

.border {
  border-bottom: 1px solid #BDBDBD; }

.card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  padding: 1em; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

a.navbar-brand {
  padding: 7px; }

nav.navbar-inverse {
  border-radius: 0px; }

[hidden][style="display: block;"] {
  display: block !important; }
