////////////////////////////////
    //Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$orange: #f39c12;

$primary-color-dark:   #F57C00;
$primary-color:        #FF9800;
$primary-color-light:  #FFE0B2;
$primary-color-text:   #212121;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.bg-primary {
  background-color: $primary-color;
}

.bg-primary-dark {
  background-color: $primary-color-dark;
}

.bg-primary-light {
  background-color: $primary-color-light;
}

.bg-accent {
  background-color: $accent-color;
}

.divider {
  background-color: $divider-color;
}

.border:first-child {
  border-top: 1px solid $divider-color;
}

.border {
  border-bottom: 1px solid $divider-color;
}

.card {
  box-shadow: 0px 4px 6px rgba(0,0,0,0.06);
  padding: 1em;
}

////////////////////////////////
    //Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
    //Bootstrap Overides//
///////////////////////////////

a.navbar-brand {
  padding: 7px;
}

nav.navbar-inverse {
  border-radius: 0px;
}

////////////////////////////////
    //Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

// project specific CSS goes here

body {
  background-color: #edeff0;
  color: #576366;
}

h1, h2, h3, h4, h5, h6, {
  color: #384047;
  text-rendering: optimizeLegibility;
}

.navbar-inverse .navbar-nav>li>a {
  color: darken(#fff, 15%);
}

.pad-top {
  padding-top: 2em;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified>li.active>a, .nav-tabs.nav-justified>li.active>a:hover, .nav-tabs.nav-justified>li.active>a:focus {
    border-bottom-color: #ddd;
  }
}

.nav-tabs>li.active>a {
  color: $orange;
  background-color: #e0e0e0;
  font-weight: bold;
}

.nav-tabs>li.active>a:hover {
  color: darken($orange, 15%);
  background-color: #e0e0e0;
}

.nav-tabs>li.active>a:focus {
  color: $orange;
  background-color: #e0e0e0;
}

@media screen and (max-width: 679px) {
  .box {
      padding: 20px;
  }
}

@media screen and (min-width: 680px) {
  .box {
      padding: 30px;
  }
}

.box {
  -webkit-animation: panel-fade-up 0.4s ease;
  -moz-animation: panel-fade-up 0.4s ease;
  animation: panel-fade-up 0.4s ease;
  position: relative;
  background: #fff;
  box-shadow: 0 2px 0 rgba(0,0,0,0.06);
  border-radius: 4px;
  margin-bottom: 30px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: rgb(235, 239, 242);
  padding: 5px;
}
